.main{
    display: grid;
    grid-template-columns: 25% 50% 25%;
}

.grid{
    display: grid;
    grid-template-columns: 32% 32% 32%;
    gap: 2%;
}

form{
    grid-column: 2;
}

h2.heading{
    text-align: center;
    padding-top: 0.2em;
	padding-bottom: 3px;
	margin-bottom: 20px;
}

label{
    margin-bottom: -0.2em;
}

.controls{
    input[type="text"],
	input[type="email"],
    input[type="number"],
    input[type="date"],
    input[type="tel"],
    input[type="time"],
	textarea,
	button,
	select{
        width: 100%;
        justify-content: center;
    }
    margin-bottom: 1em;
}

.btn{
    border-radius: 7px;
    background-color: #EEC643;
}

.heading{
    padding: 10px;
    margin-bottom: 10px;
    background-color: #841E1E;
    text-align: center;
    color: white;
    h3{
        font-size: 16px;
    }
}

input{
    border: 1px solid gray;
    border-radius: 5px;
    padding: 9px;
}

.row{
    margin-left: 0px;
    margin-right: 0px;
}

@media screen and (max-width: 768px){
    .grid{
        display: grid;
        grid-template-columns: 50% 50%;
    }
}

@media screen and (max-width: 425px){
    .grid{
        display: grid;
        grid-template-columns: 100%;
    }
}