.card{
    max-width: 750px;
    margin: auto;
    margin-top: 25px;
}

.main-form{
    display: grid;
    grid-template-columns: 15% 70% 15%;
}

.grid{
    display: grid;
    grid-template-columns: 32% 32% 32%;
    gap: 2%;
}

form{
    grid-column: 2;
}



h2.heading{
    text-align: center;
    padding-top: 0.2em;
	padding-bottom: 3px;
	margin-bottom: 20px;
}

label{
    margin-bottom: -0.2em;
}



.controls{
    input[type="text"],
	input[type="email"],
    input[type="number"],
    input[type="date"],
    input[type="tel"],
    input[type="time"],
	textarea,
	select{
        width: 100%;
        justify-content: center;
    }
    margin-bottom: 1em;
}

.heading{
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    h3{
        font-size: 22px;
    }
}

input{
    border: 1px solid gray;
    border-radius: 5px;
    padding: 9px;
}

.row{
    margin-left: 0px;
    margin-right: 0px;
}

.text-align-center{
    text-align: center;
}


.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948;
  }
  
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442;
  }

@media screen and (max-width: 768px){
    .grid{
        display: grid;
        grid-template-columns: 49% 49%;
    }

    .main-form{
        display: grid;
        grid-template-columns: 15% 70% 15%;
    }

}

@media screen and (max-width: 475px){
    .grid{
        display: grid;
        grid-template-columns: 100%;
    }

    .main-form{
        display: grid;
        grid-template-columns: 10% 80% 10%;
    }
}