<div class="d-flex justify-content-center m-2" *ngIf="menuLoading">
  <div class="spinner-border justify-content-center" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<div *ngIf="menuFailed" class="failed">
  <h5>Het is ons niet gelukt het menu in te laden. Gelieve dit opnieuw te proberen.</h5>
  <button class="btn btn-danger" (click)="GetRestaurant()">Probeer opnieuw</button>
</div>
<div class="button-top-fixed" *ngIf="restaurant">
  <button class="btn btn-danger" [routerLink]="['/bestel', restaurant.restaurantId, TafelNr, 'bestellingen']">Mijn
    bestellingen</button>
  <button class="btn btn-danger" [routerLink]="['/bestel', restaurant.restaurantId,TafelNr,'producten']">Bestelde
    producten</button>
</div>
<div class="input-search-restaurant" *ngIf="restaurant">
  <input type="text" placeholder="Zoek" [(ngModel)]="searchEntry" (keydown.enter)="Search()">
  <span (click)="Search()"><i class="fas fa-search"></i></span>
</div>
<div id="accordion" *ngIf="restaurant">
  <div class="card">
    <div class="card-header" id="dranken">
      <button class="btn btn-warning" data-toggle="collapse" data-target="#collapseDranken" aria-expanded="true"
        aria-controls="collapseDranken" (click)=ChangeToFalse(buttons[0].state,buttons[0].nr)>
        Dranken
        <i *ngIf="!buttons[0].state" class="fas fa-plus"></i>
        <i *ngIf="buttons[0].state" class="fas fa-minus"></i>
        <span class="amount">({{DrankenAmount}})</span>
      </button>
    </div>
    <div id="collapseDranken" class="collapse hidden" aria-labelledby="dranken" data-parent="#accordion">
      <div class="card-body">
        <ul>
          <li *ngFor="let drinken of ShownDranken">
            <p>{{drinken.naam}}</p>
            <p>{{drinken.prijs | currency:'€' }}</p>
            <div class="editProduct">
              <span (click)="RemoveFromBar(drinken)"><i class="fas fa-minus"></i></span>
              <p>{{drinken.aantal}}</p>
              <span (click)=AddToBar(drinken)><i class="fas fa-plus"></i></span>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="card-header" id="voorgerechten">
      <button class="btn btn-warning" data-toggle="collapse" data-target="#collapseVoorgerechten" aria-expanded="true"
        aria-controls="collapseVoorgerechten" (click)=ChangeToFalse(buttons[1].state,buttons[1].nr)>
        Voorgerechten
        <i *ngIf="!buttons[1].state" class="fas fa-plus"></i>
        <i *ngIf="buttons[1].state" class="fas fa-minus"></i>
        <span class="amount">({{VoorgerechtenAmount}})</span>
      </button>
    </div>
    <div id="collapseVoorgerechten" class="collapse hidden" aria-labelledby="voorgerechten" data-parent="#accordion">
      <div class="card-body">
        <ul>
          <li *ngFor="let voorgerecht of ShownVoorgerechten">
            <p>{{voorgerecht.naam}}</p>
            <p>{{voorgerecht.prijs | currency:'€' }}</p>
            <div class="editProduct">
              <span (click)="RemoveFromKitchen(voorgerecht)"><i class="fas fa-minus"></i></span>
              <p>{{voorgerecht.aantal}}</p>
              <span (click)="AddToKitchen(voorgerecht)"><i class="fas fa-plus"></i></span>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="card-header" id="hoofdgerechten">
      <button class="btn btn-warning" data-toggle="collapse" data-target="#collapseHoofdgerechten" aria-expanded="true"
        aria-controls="collapseHoofdgerechten" (click)=ChangeToFalse(buttons[2].state,buttons[2].nr)>
        Hoofdgerechten
        <i *ngIf="!buttons[2].state" class="fas fa-plus"></i>
        <i *ngIf="buttons[2].state" class="fas fa-minus"></i>
        <span class="amount">({{HoofdgerechtenAmount}})</span>
      </button>
    </div>
    <div id="collapseHoofdgerechten" class="collapse hidden" aria-labelledby="hoofdgerechten" data-parent="#accordion">
      <div class="card-body">
        <ul>
          <li *ngFor="let hoofdgerecht of ShownHoofdgerechten">
            <p>{{hoofdgerecht.naam}}</p>
            <p>{{hoofdgerecht.prijs | currency:'€' }}</p>
            <div class="editProduct">
              <span (click)="RemoveFromKitchen(hoofdgerecht)"><i class="fas fa-minus"></i></span>
              <p>{{hoofdgerecht.aantal}}</p>
              <span (click)="AddToKitchen(hoofdgerecht)"><i class="fas fa-plus"></i></span>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="card-header" id="desserts">
      <button class="btn btn-warning" data-toggle="collapse" data-target="#collapseDesserts" aria-expanded="true"
        aria-controls="collapseDesserts" (click)=ChangeToFalse(buttons[3].state,buttons[3].nr)>
        Desserts
        <i *ngIf="!buttons[3].state" class="fas fa-plus"></i>
        <i *ngIf="buttons[3].state" class="fas fa-minus"></i>
        <span class="amount">({{DessertsAmount}})</span>
      </button>
    </div>
    <div id="collapseDesserts" class="collapse hidden" aria-labelledby="desserts" data-parent="#accordion">
      <div class="card-body">
        <ul>
          <li *ngFor="let dessert of ShownDesserts">
            <p>{{dessert.naam}}</p>
            <p>{{dessert.prijs | currency:'€' }}</p>
            <div class="editProduct">
              <span (click)="RemoveFromKitchen(dessert)"><i class="fas fa-minus"></i></span>
              <p>{{dessert.aantal}}</p>
              <span (click)="AddToKitchen(dessert)"><i class="fas fa-plus"></i></span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>