<h1 class="text-center">Restaurant - Bar</h1>
<div class="container">
    <div class="row text-center">
        <div class="col">
            <h2>In behandeling</h2>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-9">
                            <h5 class="card-title">tafel 2 - 5 personen</h5>
                            <p>1x cola</p>
                            <p>3x Witte wijn van het huis</p>
                            <p>2x rode wijn van het huis</p>
                            <button type="button" class="btn btn-danger">Afwijzen</button>
                            <button type="button" class="btn btn-success">Goedkeuren</button>
                        </div>
                        <div class="col-sm-3 text-center">
                            <p>11:53</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <h2>Behandeld</h2>
            <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-9">
                                <h5 class="card-title">tafel 2 - 5 personen</h5>
                                <p>1x cola</p>
                                <p>3x Witte wijn van het huis</p>
                                <p>2x rode wijn van het huis</p>
                                <button type="button" class="btn btn-primary">Herladen</button>
                            </div>
                            <div class="col-sm-3 text-center">
                                <p>11:53</p>
                                <p><strong>12:00</strong></p>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>