<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <a class="navbar-brand" [routerLink]="['/home']"><img src="/assets/img/easyresrevert.png" class="logo-navbar"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/restaurant']">Restaurants</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/Tab1']">Favorieten</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/tab2']">Reservaties</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <div class="center" *ngIf="!isUserLoggedIn()">
                        <button (click)="login()">Login</button>
                        <button (click)="signup()">Sign Up</button>
                      </div>
                    
                      <div class="center" *ngIf="isUserLoggedIn()">
                        <h1>Welcome</h1>
                        <h4> {{userfirstname()}}</h4>
                        <button (click)="logout()">Logout</button>
                      </div>
                </li>
            </ul>
        </div>
</nav>
    