<nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" [routerLink]="['/home']"><img src="/assets/img/easyresrevert.png" class="logo-navbar"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/restaurant']">Restaurants</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/reservatie-lijst']">Reservaties</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/sessie']">Sessies</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <div class="center" *ngIf="!isUserLoggedIn()">
                        <button class="btn btn-danger" (click)="login()">Login</button>
                        <button class="btn btn-danger" (click)="signup()">Sign Up</button>
                      </div>
                    
                      <div class="center dropdown" *ngIf="isUserLoggedIn()">
                        <div class="dropdown-toggle mr-4" id="dropdownMenuUser" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <p>Welkom {{userfirstname()}}</p>
                            <a class="icon ml-2"><i class="far fa-user"></i></a>
                        </div>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuUser">
                            <button class="dropdown-item ml-0" type="button" [routerLink]="['/profiel']"><i class="far fa-user"></i>Account</button>
                            <button class="dropdown-item ml-0" type="button" [routerLink]="['/favorieten']"><i class="far fa-star"></i>Favorieten</button>
                            <button class="dropdown-item ml-0" type="button" [routerLink]="['/facturen']"><i class="fas fa-file-invoice"></i>Facturen</button>
                            <div class="dropdown-divider"></div>
                            <button class="dropdown-item ml-0" (click)="logout()"><i class="fas fa-sign-out-alt"></i>Logout</button>
                        </div>
                      </div>
                </li>
            </ul>
        </div>
</nav>
    