<div class="card" *ngIf="factuur">
    <div class="card-body">
        <h4 class="card-title">{{factuur.restaurant.naam}}</h4>
        <p class="card-text">
            {{ factuur.datum | date: 'd MMMM yyyy' }}
            <span class="mr-1 verticalLine"></span>
            Factuurnummer: {{factuur.id}}
        </p>
        
        <p class="float-right fullWidth">Totaalprijs: € {{factuur.totaalPrijs | number:'.2'}}</p>
        <a [routerLink]="" class="fullWidth">Bekijk bestelling >></a>
    </div>
</div>