<div class="main-content" *ngIf="currentSettingsRestaurant">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{currentSettingsRestaurant.naam}}</h5>
            <div class="item">
                <label for="aantal">&nbsp;<i class="fa fa-user"></i>&nbsp;Aantal zitplaatsen</label>
                <input type="number" id="aantal" name="aantal">
                <input type="number" id="tafels" name="tafels">
            </div>
            <div class="item">
                <label for="type">&nbsp;<i class="fa fa-user"></i>&nbsp;Type van het restaurant</label>
                <input type="text" id="type" name="type" placeholder="{{currentSettingsRestaurant.type}}">
            </div>
            <div class="item">
                <label for="soort">&nbsp;<i class="fa fa-user"></i>&nbsp;Categorie waaronder het restaurant valt</label>
                <input type="text" id="soort" name="soort" placeholder="{{currentSettingsRestaurant.soort}}">
            </div>
            <div class="coll locatie">
                <a data-toggle="collapse" href="#collapseLocatie" aria-expanded="false" aria-controls="collapseLocatie">
                    <label for="locatie">&nbsp;<i class="fa fa-user"></i>&nbsp;Adres van het restaurant ...&nbsp;</label>
                </a>
                <div class="collapse" id="collapseLocatie">
                    <div class="item">
                        <label for="gemeente">&nbsp;<i class="fa fa-user"></i>&nbsp;Gemeente</label>
                        <input type="text" id="gemeente" name="gemeente" placeholder="{{currentSettingsRestaurant.locatie.gemeente}}">
                    </div>
                    <div class="item">
                            <label for="postcode">&nbsp;<i class="fa fa-user"></i>&nbsp;Postcode</label>
                            <input type="text" id="postcode" name="postcode" placeholder="{{currentSettingsRestaurant.locatie.postcode}}">
                        </div>
                    <div class="item">
                        <label for="straat">&nbsp;<i class="fa fa-user"></i>&nbsp;Straat</label>
                        <input type="text" id="straat" name="straat" placeholder="{{currentSettingsRestaurant.locatie.straat}}">
                    </div>
                    <div class="item">
                        <label for="straatnummer">&nbsp;<i class="fa fa-user"></i>&nbsp;Straatnummer</label>
                        <input type="text" id="straatnummer" name="straatnummer" placeholder="{{currentSettingsRestaurant.locatie.straatnummer}}">
                    </div>
                    <div class="item">
                        <label for="bus">&nbsp;<i class="fa fa-user"></i>&nbsp;Bus</label>
                        <input type="text" id="bus" name="bus" placeholder="{{currentSettingsRestaurant.locatie.bus}}">
                    </div>
                </div>
            </div>
            
            <!--

                <div class="item">
                    <label for="openingsuren">&nbsp;<i class="fa fa-user"></i>&nbsp;Openingsuren van het restaurant</label>
                    <input type="text" id="openingsuren" name="openingsuren" [(ngModel)]="">
                </div>
                <div class="item">
                    <label for="kortbeschrijving">&nbsp;<i class="fa fa-user"></i>&nbsp;Korte beschrijving over het restuarant</label>
                    <input type="text" id="kortbeschrijving" name="kortbeschrijving" [(ngModel)]="">
                </div>
                <div class="item">
                    <label for="langbeschrijving">&nbsp;<i class="fa fa-user"></i>&nbsp;Lange beschrijving over het restuarant</label>
                    <input type="text" id="langbeschrijving" name="langbeschrijving" [(ngModel)]="">
                </div>
            -->
        </div>
    </div>
</div>


