.main-content{
    margin-top: 25px;
    display: grid;
    grid-template-columns: 15% 70% 15%;
}
.card{
    grid-column: 2;
}
.card-title{
    text-align: center;
    padding-top: 0.2em;
	padding-bottom: 3px;
	margin-bottom: 20px;
}
input{
    padding-left: 0.2em;
}
a{
    text-decoration: none;
    color: inherit;
}
.item{
    input[type="text"],
	input[type="email"],
    input[type="number"],
    input[type="date"],
    input[type="tel"],
    input[type="time"],
	textarea,
	select{
        width: 100%;
        justify-content: center;
    }
    margin-bottom: 1em;
}
.coll{
    .item{
        margin-left: 1em;
    }
}