<div class="session-content">
    <div class="restaurant-session-template">
        <div class="card" *ngFor="let sessie of Sessies">
            <div class="card-body" >
                <h5 class="card-title">
                    <span>{{sessie.restaurant.naam}}</span> 
                    <span class="table-indicator">Tafel : {{sessie.tafelNr}}</span>
                </h5>
                <h6 class="card-subtitle mb-2 text-muted">{{sessie.restaurant.soort}}</h6>
                <p class="card-text">{{sessie.restaurant.beschrijving}}</p>
                <button class="btn-danger btn order-btn" [routerLink]="['/bestel', sessie.restaurant.restaurantId, sessie.tafelNr]">Bestellingen</button>
                <button class="btn-outline-danger btn button-more-info" [routerLink]="['/betaal']">Betaal</button>
            </div>
        </div>
    </div>
    <div class="invalid-screen-size">
        <h3>Gelieve de app te openen op een kleiner scherm zodat u eten kan bestellen.</h3>
    </div>
</div>

