.table-indicator{
    border: 1.5px solid #212529;
    color: #212529;
    padding: 3px 5px;
    border-radius: 3px;
    font-size: 15px;
    width: fit-content;
}
.empty{
    padding-top: 20px;
    text-align: center;
}
.button-more-info{
    margin-left: 10px;
}
.card{
    width: 100% !important;
    margin: auto;
    margin-bottom: 20px;
    max-width: 450px;
}
.card-title{    
    display: flex;
    flex-wrap: wrap;
}
.session-content{
    display: grid;
    grid-template-columns: 20% 60% 20%;
}
.restaurant-session-template{
    padding-top: 10px;
    grid-column-start: 2;
    grid-column-end: 3;
}
.modal-body{
    text-align: center;
}
@media screen and (max-width: 540px){
   .order-btn{
       width: 100%;
   }
   .button-more-info{
       width: 100%;
       margin-left: 0px;
       margin-top: 10px;
   }
}
@media screen and (max-width: 360px){
    .table-indicator{
        text-align: center;
        margin-left: 0px;
        margin-top: 10px;
    }
}
@media screen and (min-width: 1000px){
    .order-btn{
        width: 100%;
        margin-bottom: 5px;
    }
    .invalid-screen-size{
        display: block;
    }
    .button-more-info{
        margin-left: 0px;
        width: 100%;
        margin-top: 0px;
    }
}