<div class="container mt-2">
    <h1 class="text-center">Keuken</h1>
    <div class="row text-center">
        <div class="col">
            <h2>In behandeling</h2>
            <div class="list" *ngFor="let bestelling of ProcessList; let id = index">
                <div class="card">
                    <div class="card-body col6">
                        <div>
                            <h5 class="card-title">Tafel {{bestelling.tafelNr}}</h5>
                            <div *ngFor="let eten of bestelling.etenswaren">
                                <p>{{eten.aantal}}x {{eten.naam}}</p>
                            </div>
                        </div>
                        <div>
                            <h4 class="text-right">
                                <span *ngIf="bestelling.eetTijdKlaar"><i class="fas fa-undo-alt"></i></span>
                                {{bestelling.huidigeTijd | date:'HH:mm'}}</h4>
                            <button type="button" (click)="Done(bestelling)" class="btn btn-success"><i
                                    class="fas fa-check"></i> Gereed</button>
                            <button type="button" data-toggle="modal" [attr.data-target]="'#popupModal'+id" class="btn btn-danger"><i
                                    class="fas fa-times"></i> Annuleren</button>
                        </div>
                    </div>
                </div>

                <!-- Modal -->
                <div class="modal fade" [attr.id]="'popupModal' + id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Ben je zeker?</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Ben je zeker dat je de bestelling van tafel {{bestelling.tafelNr}} wilt verwijderen?
                            </div>
                            <div class="modal-footer">
                                <button type="button" (click)="Cancel(bestelling)" class="btn btn-success"
                                    data-dismiss="modal">Ja</button>
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Nee</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col">
            <h2>Behandeld</h2>
            <div class="list" *ngFor="let bestelling of DoneList">
                <div class="card">
                    <div class="card-body col6">
                        <div>
                            <h5 class="card-title">Tafel {{bestelling.tafelNr}}</h5>
                            <div *ngFor="let eten of bestelling.etenswaren">
                                <p>{{eten.aantal}}x {{eten.naam}}
                                    <!--  - {{eten.aantal * eten.prijs | currency:'EUR':true}} -->
                                </p>
                            </div>
                        </div>
                        <div>
                            <h4 class="text-right">
                                <i class="far fa-calendar-alt"></i> {{bestelling.huidigeTijd | date:'HH:mm'}} <br>
                                <i class="fas fa-check"></i> {{bestelling.eetTijdKlaar | date:'HH:mm'}}</h4>
                            <button type="button" (click)="Back(bestelling)" class="btn btn-primary"><i
                                    class="fas fa-undo-alt"></i> Terug</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>