<h1 class="text-center">Restaurant - Keuken</h1>
<div class="container">
    <div class="row text-center">
        <div class="col">
            <h2>In behandeling</h2>
            <div *ngfor="let object of ProcessList">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6" *ngFor="let bestelling of Bestellingen">
                            <h5 class="card-title">Tafel {{bestelling.tafelNr}}</h5>
                            <div *ngFor="let eten of bestelling.etenswaren">
                                <p>{{eten.aantal}}x {{eten.naam}} -
                                    {{eten.aantal * eten.prijs | currency:'EUR':true}}</p>
                            </div>
                            <div class="col-sm-6 text-center">
                                <h4>11:53</h4>
                            </div>
                            <div class="col">
                                <button type="button" (click)="Back(bestelling)"
                                    class="btn btn-danger">Terugzetten</button>
                            </div>
                            <div class="col">
                                <button type="button" (click)="Done(bestelling)" class="btn btn-success">Gereed</button>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <h2>Behandeld</h2>
            <div *ngfor="let object of DoneList">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6" *ngFor="let bestelling of Bestellingen">
                                <h5 class="card-title">Tafel {{bestelling.tafelNr}}</h5>
                                <div *ngFor="let eten of bestelling.etenswaren">
                                    <p>{{eten.aantal}}x {{eten.naam}} -
                                        {{eten.aantal * eten.prijs | currency:'EUR':true}}</p>
                                </div>
                                <div class="col-sm-6 text-center">
                                    <h4>11:53</h4>
                                </div>
                                <div class="col">
                                    <button type="button" (click)="Back(bestelling)"
                                        class="btn btn-danger">Terugzetten</button>
                                </div>
                                <div class="col">
                                    <button type="button" (click)="Done(bestelling)" class="btn btn-success">Gereed</button>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>