<h1 class="text-center">Restaurant - Keuken</h1>
<div class="container">
    <div class="row text-center">
        <div class="col">
            <h2>In behandeling</h2>
            <div *ngFor="let object of ProcessList">
                <div class="card">
                    <div class="card-body">
                        <div class="col6" *ngFor="let bestelling of Bestellingen">
                            <div>
                                <h5 class="card-title">Tafel {{bestelling.tafelNr}}</h5>
                                <div *ngFor="let eten of bestelling.etenswaren">
                                    <p>{{eten.aantal}}x {{eten.naam}}</p>
                                </div>
                            </div>
                            <div>
                                <h4 class="text-right">11:53</h4>
                                <button type="button" (click)="Done(bestelling)" class="btn btn-success"><fa-icon [icon]="faCheck"></fa-icon> Gereed</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <h2>Behandeld</h2>
            <div *ngFor="let object of DoneList">
                <div class="card">
                    <div class="card-body">
                        <div class="col6" *ngFor="let bestelling of Bestellingen">
                            <div>
                                <h5 class="card-title">Tafel {{bestelling.tafelNr}}</h5>
                                <div *ngFor="let eten of bestelling.etenswaren">
                                    <p>{{eten.aantal}}x {{eten.naam}}<!--  - {{eten.aantal * eten.prijs | currency:'EUR':true}} --></p>
                                </div>
                            </div>
                            <div>
                                <h4 class="text-right">11:53</h4>
                                <button type="button" (click)="Back(bestelling)" class="btn btn-danger"><fa-icon [icon]="faTimes"></fa-icon> Terugzetten</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>