li{
    list-style: none;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    text-align: center;
}
h6{
    text-align: center;
}
.btn{
    width: 100% !important;
}
.btn-danger{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 15px;
    margin-bottom: 25px;
    font-weight: bold;
    font-size: 20px;
}
@media screen and (max-width: 500px){
    li{
        grid-template-columns: 100%;
        margin-bottom: 50px;
    }
}