<div class="wrapper-header-image">
  <img src="../../assets/img/restaurant.jpg" alt="restaurant-header-image" class="mainImage">
  <p class="header-image-text">Bestellen is nog nooit zo gemakkelijk geweest</p>
</div>
<div class="main-content">
  <div class="input-search-restaurant left">
    <input type="text" placeholder="Zoek" [(ngModel)]="zoeknaam" (keydown.enter)="Zoeken()">
    <a (click)="Zoeken()"><i class="fas fa-search" style="cursor: pointer;"></i></a>
  </div>
  <p class="center">Sorteren op: </p>
  <div class="dropdown right">
    <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      {{sorterenOp}}
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a (click)="Sorteren(keuze)" class="dropdown-item" *ngFor="let keuze of sorteerKeuzes">{{keuze}}</a>
    </div>
  </div>
  <div class="left">
    <div class="typeNormal">
      <div>
        <p><b>Type:</b></p>
        <label class="typeContainar" *ngFor="let type of types">{{type.naam}}
          <input type="checkbox" [(ngModel)]="type.active" (click)="ChangeTypes(type)">
          <span class="checkmark"></span>
        </label>
      </div>
      <div>
        <p><b>Gerechten:</b></p>
        <label class="typeContainar" *ngFor="let gerecht of gerechten">{{gerecht.naam}}
          <input type="checkbox" [(ngModel)]="gerecht.active" (click)="ChangeGerechten(gerecht)">
          <span class="checkmark"></span>
        </label>
      </div>
      <div>
        <p><b>Filters:</b></p>
        <div *ngFor="let filter of filters">
          {{filter.naam}}
          <div class="filterCheckbox">
            <label class="typeContainar">
              <input type="checkbox" [(ngModel)]="filter.active" (click)="ChangeFilter(filter)">
              <span class="checkmark"></span>
            </label>
          </div>
          <div class="filterInput">
            <!-- attributen: https://www.npmjs.com/package/ng2-completer -->
            <ng2-completer [disableInput]="!filter.active" [inputClass]="'form-control'" [(ngModel)]="filter.value"
              placeholder="{{filter.naam}}" [datasource]="ChangeLocation(filter)" [minSearchLength]="1"></ng2-completer>
          </div>
        </div>
        <button class="btn btn-danger" (click)="ApplyFilters()">Toepassen</button>
      </div>
    </div>
  </div>

  <div class="dropdowns mb-3">
    <div class="allDropdown firstDropdown">
      <button class="btn dropdown-toggle" type="button" data-toggle="collapse" data-target="#collapseType"
        aria-expanded="false" aria-controls="collapseType">
        <b>Type</b>
      </button><br>
      <div class="collapse card card-body" id="collapseType">
        <label class="typeContainar" *ngFor="let type of types">{{type.naam}}
          <input type="checkbox" [(ngModel)]="type.active" (click)="ChangeTypes(type)">
          <span class="checkmark"></span>
        </label>
      </div>
    </div>
    <div class="allDropdown">
      <button class="btn dropdown-toggle" type="button" data-toggle="collapse" data-target="#collapseGerechten"
        aria-expanded="false" aria-controls="collapseGerechten">
        <b>Gerechten</b>
      </button><br>
      <div class="collapse card card-body" id="collapseGerechten">
        <label class="typeContainar" *ngFor="let gerecht of gerechten">{{gerecht.naam}}
          <input type="checkbox" [(ngModel)]="gerecht.active" (click)="ChangeGerechten(gerecht)">
          <span class="checkmark"></span>
        </label>
      </div>
    </div>
  </div>
  <div class="dropdowns">
    <div class="allDropdown firstDropdown">
      <button class="btn dropdown-toggle" type="button" data-toggle="collapse" data-target="#collapseFilter"
        aria-expanded="false" aria-controls="collapseFilter">
        <b>Filters</b>
      </button><br>
      <div class="collapse card card-body" id="collapseFilter">
        <div *ngFor="let filter of filters">
          {{filter.naam}}
          <div class="filterCheckbox">
            <label class="typeContainar">
              <input type="checkbox" [(ngModel)]="filter.active" (click)="ChangeFilter(filter)">
              <span class="checkmark"></span>
            </label>
          </div>
          <div class="filterInput">
            <!-- attributen: https://www.npmjs.com/package/ng2-completer -->
            <ng2-completer [disableInput]="!filter.active" [inputClass]="'form-control'" [(ngModel)]="filter.value"
              placeholder="{{filter.naam}}" [datasource]="ChangeLocation(filter)" [minSearchLength]="1"></ng2-completer>
          </div>
        </div><br>
        <button class="btn btn-primary" (click)="ApplyFilters()">Toepassen</button>
      </div>
    </div>
    <div class="allDropdown"></div>
  </div>
  <button class="btn-danger btn button-scan" [routerLink]="['/scan']" (click)="SendEvent('Scan')">
    <i class="fas fa-qrcode fa-lg mr-2"></i>Scan tafel</button>
  <div class="content">
    <div class="restaurant-advertentie-template" *ngIf="Advertentie">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            {{Advertentie.naam}}
            <span class="advert">Advertentie</span>
          </h5>
          <h6 class="card-subtitle mb-2 text-muted">{{Advertentie.soort}} - {{Advertentie.type}}</h6>
          <p class="card-text">{{Advertentie.beschrijving}}</p>
          <button class="btn-danger btn button-card" [routerLink]="['/reservatie', Advertentie.restaurantId]"
            (click)="SendEvent('Reserveer')">Reserveer</button>
          <button class="btn-outline-danger btn button-card" [routerLink]="['/restaurant', Advertentie.restaurantId]"
            (click)="SendEvent('Meer info')">Meer info</button>
        </div>
      </div>
    </div>
    <div class="restaurant-template" *ngFor="let restaurant of Restaurants; let i = index">
      <div class="card">
        <div class="card-body">
          <div *ngIf="isUserLoggedIn()" (click)="AddDeleteFavorites(restaurant.restaurantId,i)">
            <i *ngIf="!RestaurantsFavoriteBooleans[i]" class="far fa-star"></i>
            <i *ngIf="RestaurantsFavoriteBooleans[i]" class="fas fa-star"></i>
          </div>
          <h5 class="card-title">{{restaurant.naam}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{restaurant.soort}} - {{restaurant.type}}</h6>
          <p class="card-text">{{restaurant.beschrijving}}</p>
          <button class="btn-danger btn button-card" [routerLink]="['/reservatie', restaurant.restaurantId]"
            (click)="SendEvent('Reserveer')">Reserveer</button>
          <button class="btn-outline-danger btn button-card" [routerLink]="['/restaurant', restaurant.restaurantId]"
            (click)="SendEvent('Meer info')">Meer info</button>
        </div>
      </div>
    </div>
  </div>
</div>