.wrapper-header-image{
    position: relative;
    display: inline-block;
    text-align: center;
    width: 100%;
}
.mainImage{
    max-width: 100%;
    height: auto;
    
}
.wrapper-header-image:before{
    content: "";
    background-color: #000;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    left: 0;
}
.header-image-text{
    position: absolute;
    color: white;
    top: 50%;
    transform: translateY(-50%);
    left: 27.5%;
    right: 27.5%;
    z-index: 2;
    font-size: 30px;
    font-weight: bold;
    margin-top: 0;
}
.main-content{
    padding-top: 30px;
    width: 60%;
    display: grid;
    gap: 1%;
    grid-template-columns: 33% 33% 33%;
    grid-template-areas:
          "left center right"
          "left scan scan"
          "left content content";
    grid-row-gap: 1em;
    margin: auto;
    margin-bottom: 50px;
}
.content{
    grid-area: content;
}
.left{
    grid-area: left;
}
.right{
    grid-area: right;
}
.button-search{
    width: 30%;
    margin-top: 0px;
    margin-bottom:5px;
}
.button-card{
    margin-right: 10px;
}
.button-scan{
    margin-bottom: 7px;
    height: 50px;
    grid-area: scan;
    width: 100%;
}
.icon-search{
    padding-bottom: 2px;
}
input{
    width: 92%;
    padding: 5px;
    border : none;
    border-radius: 5px;
    height: 100%;
}
input::placeholder{
    padding-left: 5px;
}
.input-search-restaurant{
    display: inline-block;
    height: 35px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid grey;
}
.dropdown-toggle{
    width: 100% !important;
    color: black;
    background-color: white;
    border: 1px solid grey;
}
.dropdown-menu{
    width: 100%;
}
.card{
    width: 100% !important;
}
.restaurant-template{
    padding-top: 10px;
}
.advert{
    border: 2px solid green;
    color: green;
    padding: 3px;
    position: absolute;
    right: 15px;
    border-radius: 3px;
    font-size: 15px;
}
.restaurant-advertentie-template{
    padding-top: 10px;
}
p{
    margin-top: 7px;
    margin-bottom: 7px;
    justify-self: end;
}
.fa-star{
    position: absolute;
    right: 10px;
    margin-top: 5px;
    cursor: pointer;
}
.filterInput{
    margin-bottom: 10px;
    margin-left: 50px;
    margin-right: 10px;
    max-width: 200px !important;
}
.filterCheckbox{
    margin-top: 14px;
    margin-bottom: -6px;
}
/* Container van de types */
.typeContainar {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    margin-left: 10px;
    cursor: pointer;
    font-size: inherit;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Standaard styling input verbergen */
  .typeContainar input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  /* On mouse-over, toevoegen grijze achtergrondkleur */
  .typeContainar:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* Wanneer checkbox checked, blauwe achtergrond */
  .typeContainar input:checked ~ .checkmark {
    background-color: #dc3545;
  }
  
  /* Checkmark/indicator (ontzichtbaar wanneer af) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Tonen checkmark wanneer checked checked */
  .typeContainar input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style checkmark/indicator */
  .typeContainar .checkmark:after {
    left: 9px;
    top: 5px;
    width: 8px;
    height: 13px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .typeNormal{
      margin-top: 65px;
  }
.right{
    max-width: 200px;
}
@media screen and (max-width: 1200px){
    input{
        width: 90%;
    }
}
@media screen and (max-width: 910px){
    input{
        width: 87%;
    }
}
@media screen and (max-width: 880px){
    .header-image-text{
        left: 20%;
        right: 20%; 
    }
    .button-scan{
        margin-top: 15px;
    }
    p{
        justify-self: start;
    }
    .main-content{
        display: block;
        width: 80%;
    }
    .restaurant-template, .restaurant-advertentie-template{
        padding-top: 10px;
    }
    input{
        width: 87%;
    }
    .typeNormal{
        display: none;
    }
    .center{
        display: inline-block;
        margin-right: 25px;
    }
    .right{
        display: inline-block;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .left{
        max-width: 200px;
        margin-right: 25px;
    }
    .dropdowns{
        display: flex;
        max-width: 100% !important;
    }
    .allDropdown{
        width: 50%;
        margin: 0;
        min-width: 200px;
    }
    .firstDropdown{
        margin-right: 25px;
    }
}
@media screen and (max-width: 740px){
    .main-content{
        width: 80%;
    }
}
@media screen and (max-width: 680px){
    input{
        width: 86%;
    }
}
@media screen and (max-width: 580px){
    .dropdowns{
        display: block;
    }
    .allDropdown{
        width: 100%;
        max-width: 320px;
        margin-bottom: 15px;
    }
    .firstDropdown{
        margin-right: 0px;
    }
    .left{
        display: block;
    }
    .header-image-text{
        font-size: 20px;
    }
}
@media screen and (max-width: 430px){
    p{
        font-size: 14px;
    }
    .dropdown-toggle{
        font-size: 14px;
    }
    .header-image-text{
        font-size: 16px;
    }
}
@media screen and (max-width: 330px){
    p{
        font-size: 11px;
    }
    .advert{
        position: relative;
        right: 0px;
    }
    .dropdown-toggle{
        font-size: 11px;
    }
    .header-image-text{
        font-size: 14px;
    }
}
.fa-search{
    color: black;
}

@media screen and (min-width: 880px){
    .dropdowns{
        display: none;
    }
}