.main-content{
    display: grid;
    grid-template-columns: 15% 70% 15%;
}
div{
    text-align: center;
}
.card{
    padding: 15px;
    margin-top: 25px;
    grid-column: 2;
}
.factuurInfo{
    text-align: left;
    margin: auto;
    max-width: 535px !important;
}
hr{
    margin: auto;
    max-width: 535px !important;
    margin-top: 15px;
    margin-bottom: 15px;
}
table,th,td{
    padding-left: 2px;
    padding-right: 2px;
    font-size: 15px;
}
table{
    margin: auto;
}
tr:nth-child(odd){
    background-color: #e8e8e9;
}
tr:nth-child(even){
    background-color: white;
}
.producten{
    display: initial;
    width: 100% !important;
}
.failed{
    margin: 25px;
    margin-top: 15px;
}
@media screen and (max-width: 360px){
    table,th,td{
        font-size: 13px;
    }
}
@media screen and (max-width: 320px){
    table,th,td{
        font-size: 12px;
    }
}
@media screen and (max-width: 300px){
    table,th,td{
        font-size: 10px;
    }
}