<div class="header">
  <h1>Privacybeleid</h1>
</div>
<div class="content">
  <h2>Welkom bij het privacybeleid van EasyRes</h2>
  <p>
    Wanneer u EasyRes services gebruikt, vertrouwt u ons met uw gegevens. Dit privacybeleid is bedoeld om u te helpen
    begrijpen welke gegevens we verzamelen, waarom we het verzamelen en wat we ermee doen. Dit is belangrijk; we hopen
    dat je de tijd neemt om het zorgvuldig te lezen.
  </p>
  <h2>Privacybeleid</h2>
  <p>
    Laatst gewijzigd: 30 november 2019
  </p>
  <p>
    We hebben geprobeerd de dingen zo eenvoudig mogelijk te houden. Uw privacy is belangrijk voor EasyRes. Daarom vragen
    wij u om de tijd te nemen om ons Privacybeleid te lezen. Voor vragen neem contact met ons op.
  </p>
  <p>
    We verzamelen informatie om betere service aan al onze gebruikers te bieden, basisinformatie, zoals uw taal, u
    spreekt over complexere zaken zoals hoe lang u op de site bent geweest
    Informatie die we krijgen van uw gebruik van onze diensten.
  </p>
  <ul>
    <li>Apparaat informatie</li>
    <p>
      We verzamelen apparaatspecifieke informatie (zoals uw hardwaremodel, versie van het besturingssysteem, unieke
      apparaat-ID's en mobiele netwerkinformatie inclusief telefoonnummer).
    </p>
    <li>Live locatiegegevens</li>
    <p>
      Wanneer u een EasyRes diensten of app(s) gebruikt, kunnen we informatie over uw locatie kennen, zoals uw continent,
      land en stad waar u woont.
      Ook uw internetprotocoladres
    </p>
    <li>Systeemgegevens</li>
    <p>
      We kunnen ook uw serviceprovider, apparaatgebeurtenisinformatie zoals crashes, systeemactiviteit,
      hardware-instellingen, browsertype, browsertaal, welke browser u gebruikt, de datum en tijd van uw verzoek en
      verwijzings-URL bekijken.
    </p>
    <li>Tijd gegevens</li>
    <p>
      Als u EasyRes producten gebruikt, zien we wanneer u het gebruikt.
    </p>
  </ul>
  <p>
    Wanneer u de diensten van EasyRes gebruikt. Hebben we de bovenstaande informatie. We behandelen het als persoonlijke
    gegevens.
  </p>
  <h2>Duidelijkheid</h2>
  <p>
    Mensen zijn op verschillende manieren bezorgd over hun privacy. Ons doel is om duidelijk te zijn over de informatie
    die we verzamelen, zodat u weloverwogen beslissingen kunt nemen over hoe uw informatie wordt gebruikt.
  </p>
  <h2>Wanneer dit privacybeleid van toepassing is</h2>
  <p>
    Ons privacybeleid is van toepassing op alle diensten die worden aangeboden door EasyRes. Maar niet op services met een afzonderlijk privacybeleid waarin dit privacybeleid niet
    is opgenomen. Ons privacybeleid is niet van toepassing op diensten die worden aangeboden door andere bedrijven of
    particulieren. Ons privacybeleid heeft geen betrekking op het gegevensbeleid van andere bedrijven en organisaties
    die reclame maken voor onze services.
  </p>
  <h2>Naleving en samenwerking met toezichthoudende autoriteiten</h2>
  <p>
    We controleren regelmatig of we voldoen aan ons Privacybeleid. Wanneer we formele schriftelijke klachten ontvangen,
    nemen we contact op met de persoon die de klacht heeft ingediend om vervolgacties te bespreken.

  </p>
  <h2>Wijzigingen</h2>
  <p>Ons privacybeleid kan van tijd tot tijd veranderen. We verminderen uw rechten niet met dit privacybeleid zonder uw
    uitdrukkelijke toestemming. We zullen eventuele wijzigingen in het privacybeleid op deze pagina publiceren en als de
    wijzigingen aanzienlijk zijn zullen we een meer opvallende kennisgeving doen (inclusief, voor bepaalde diensten,
    e-mailkennisgeving over wijzigingen in het privacybeleid). We slaan sinds november 2019 en eerdere versies van dit
    privacybeleid op in een archief voor uw beoordeling.
  </p>
  <h2>Hoe EasyRes Cookies gebruikt</h2>
  <p>
    Een cookie is een klein stukje tekst dat door een website die u bezoekt naar uw browser wordt gestuurd. Het helpt
    de website om informatie over uw bezoek te onthouden, zoals uw voorkeurstaal en andere instellingen. Dat kan uw
    volgende bezoek gemakkelijker maken en de site nuttiger voor u maken. Cookies spelen een belangrijke rol. Zonder hen
    zou het gebruik van internet een veel frustratievere ervaring zijn.
  </p>
  <p>
    We gebruiken cookies voor vele doeleinden. We gebruiken ze bijvoorbeeld om de advertenties die u ziet relevanter
    voor u te maken, om te tellen hoeveel bezoekers we op een pagina ontvangen, om u te helpen bij het aanmelden voor
    onze services, om uw gegevens te beschermen of om uw advertentie-instellingen te onthouden.
  </p>
  <p class="lead">
    We houden uw gegevens privé en veilig.
  </p>
</div>
